body {
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(255, 0, 0, 0.7), rgba(255, 0, 0, 0.7)), url(background.jpeg) no-repeat center center;
    background-size: cover;
    color: white;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.video-main {
    display: block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.video-secondary {
    display: none;
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.message {
    display: none;
    font-size: 2em;
    margin: 20px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    color: #333;
    max-width: 100%;
}

.cake {
    margin-top: 20px;
    font-size: 1.5em;
}


#image{
    inset: 23% 0% 0% 0%;
}

ol{
    justify-content: left;
}

.emoji {
    position: absolute;
    top: -50px;
    font-size: 24px;
    opacity: 0.8;
    animation: fall linear;
}
@keyframes fall {
    to {
        transform: translateY(100vh);
        opacity: 1;
    }
}
